# CLion
.idea/
*.iml
cmake-build-*/

# CMake
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
Testing/
.cache/

# Compiled files
*.o
*.obj
*.d
*.gch
*.pch

# Libraries and executables
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.out

# Debug
*.pdb
*.ilk

# Temporary
*.log
*.tmp
